.navbar,
.footer {
  margin: 1rem auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: min(100%, 1200px);
  color: var(--dark-color);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.cart-icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cart-icon span {
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.7rem;
  border-radius: 50%;
  background-color: var(--error-color);
  color: var(--light-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  font-size: 0.8rem;
}

.footer-links {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar,
  .footer {
    padding: 0 1rem;
  }

  .nav-links {
    gap: 1.5rem;
    font-size: 0.9rem;
  }

  .footer {
    font-size: 0.7rem;
  }
}
