/* hero */

.hero {
  width: 100%;
  background-color: var(--dark-color);
  color: var(--light-font);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.3rem;
}

.hero button {
  margin-top: 1rem;
}

/* categories */

.categories-section {
  width: 100%;
  background-color: var(--ashGray-color);
  padding: 2rem 0;
}

.categories-container {
  max-width: min(95%, 1200px);
  margin: 1rem auto;
}

.categories-container h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.categories-container ul {
  background-color: var(--light-font);
  width: 100%;
  border-radius: 0.8rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  box-shadow: 0 0 4px var(--dark-color);
}

.categories-container li {
  border: 1px solid black;
  background-color: var(--light-font);
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.categories-container li:hover {
  background-color: var(--ashGray-color);
  border: none;
}

/* featured */

.featured-section {
  width: 100%;
  background-color: var(--lightBlue-color);
  color: var(--dark-color);
  padding: 3rem 0;
}

.featured-container {
  background-color: rgba(253, 255, 252, 0.6);
  max-width: min(95%, 1600px);
  margin: 0 auto;
  padding: 1rem 3.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.arrow-back {
  left: 1rem;
}

.arrow-fw {
  right: 1rem;
}

.arrow-back,
.arrow-fw {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow-back:hover,
.arrow-fw:hover {
  font-size: 2.4rem;
}

.featured-container .disabled {
  color: var(--lightBlue-color);
  font-size: 1.6rem;
  cursor: auto;
}

.featured-container .disabled:hover {
  font-size: 1.6rem;
}

.featured-section h2 {
  font-size: 1.5rem;
}

.featured-products-container {
  padding: 1rem 0.5rem;
  display: flex;
  gap: 2.5rem;
  overflow: hidden;
}

@media (max-width: 1050px) {
  .featured-products-container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .featured-container {
    padding: 1rem;
  }

  .arrow-back,
  .arrow-fw {
    pointer-events: none;
    opacity: 0;
  }
}

@media (max-width: 640px) {
  .categories-container li {
    font-size: 0.8rem;
  }
}
