/* hero */

.hero {
  width: 100%;
  background-color: var(--dark-color);
  color: var(--light-font);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.3rem;
}

.hero button {
  margin-top: 1.5rem;
}

/* featured */

.featured-section {
  width: 100%;
  background-color: var(--lightBlue-color);
  color: var(--dark-color);
  padding: 3rem 0;
}

.featured-container {
  background-color: rgba(253, 255, 252, 0.6);
  max-width: min(95%, 1800px);
  margin: 0 auto;
  padding: 1rem 4rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.arrow-back {
  left: 1rem;
}

.arrow-fw {
  right: 1rem;
}

.arrow-back,
.arrow-fw {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow-back:hover,
.arrow-fw:hover {
  font-size: 2.4rem;
}

.featured-container .disabled {
  color: var(--lightBlue-color);
  font-size: 1.6rem;
  cursor: auto;
}

.featured-container .disabled:hover {
  font-size: 1.6rem;
}

.featured-section h2 {
  font-size: 1.5rem;
}

.featured-products-container {
  padding: 1rem 0.5rem;
  display: flex;
  gap: 2.5rem;
  overflow: hidden;
}
