@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

:root {
  --bistre-color: rgb(37, 22, 5);
  --jasmine-color: rgb(246, 226, 127);
  --tan-color: rgb(226, 195, 145);
  --ashGray-color: rgb(168, 183, 171);
  --lightBlue-color: rgb(155, 190, 199);
  --light-font: rgb(253, 255, 252);
  --dark-font: rgb(51, 51, 51);
}
