@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

a {
  color: var(--dark-color);
}

a:visited {
  color: var(--dark-color);
}

:root {
  --jasmine-color: rgb(246, 226, 127);
  --tan-color: rgb(226, 195, 145);
  --ashGray-color: rgb(168, 183, 171);
  --lightBlue-color: rgb(155, 190, 199);
  --light-font: rgb(253, 255, 252);
  --dark-color: rgb(51, 51, 51);
  --error-color: rgb(206, 28, 28);
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-weight: 600;
  background-color: var(--jasmine-color);
  cursor: pointer;
  height: fit-content;
  transition: all 0.3s ease;
}

button:hover {
  scale: 1.05;
  box-shadow: 0px 0px 5px var(--lightBlue-color);
}
