.products-section {
  max-width: min(1800px, 100%);
  margin: 2rem auto;
  display: flex;
  padding: 0 2rem;
  gap: 1rem;
}

.products-container {
  flex-grow: 1;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}

.products-container > .product-card {
  width: 100%;
}

@media (max-width: 1200px) {
  .products-section {
    flex-direction: column;
  }
}

/* slider */

.image-slider {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.image-slider > img {
  min-width: 100%;
  object-fit: contain;
  transition: all 1s ease;
}

.image-slider-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}

.image-slider-dots > .active {
  color: var(--ashGray-color);
  cursor: auto;
}

/* filters */

.product-filters {
  width: 280px;
}

.filter {
  margin: 1rem 0;
  user-select: none;
}

.filter legend {
  font-weight: bold;
}

.filter div {
  margin: 0.5rem 1rem;
  display: flex;
  gap: 0.4rem;
}

.filter input[type="checkbox"] {
  accent-color: var(--lightBlue-color);
  width: 18px;
  height: 18px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .product-filters {
    width: 100%;
  }
}
